<table class="table">
    <tbody>
      <tr>
        <td><a class="navbar-brand" routerLink="/home">
            <span class="glyphicon glyphicon-cog">Home</span></a>
        </td>
        <td><a [routerLink]="['/book']">
            <span class="glyphicon glyphicon-cog">Books</span> </a>
        </td>
        <td><a [routerLink]="['/person']">
            <span class="glyphicon glyphicon-cog">Persons</span> </a>
        </td>
      
        <td>
            <a>
                <span class="glyphicon glyphicon-log-in">Profile</span> 
            </a>
        </td>
        <td>
            <a>
                <span class="glyphicon glyphicon-log-in">Login</span> 
            </a>
            <a>
                <span class="glyphicon glyphicon-log-out">Logout</span> 
            </a>
        </td>
      </tr>
    </tbody>
  </table>