<!-- <table class="Nav">
    <tbody>
      <tr>
        <td><a  routerLink="/home">
            <span >Home</span></a>
        </td>
        <td><a [routerLink]="['/book']">
            <span >Books</span> </a>
        </td>
        <td><a [routerLink]="['/person']">
            <span >Persons</span> </a>
        </td>
      
       
      </tr>
    </tbody>
  </table> -->

  <div class="Nav">
    <ul>
       <li><a  routerLink="/home">
        <span >Home</span></a></li>
       <li><a [routerLink]="['/book']">
        <span >Books</span> </a></li>
       <li><a [routerLink]="['/person']">
        <span >Persons</span> </a></li>
   </ul>
</div>